

  <div class="row">
    <div class="col-md-6">
        <%= f.label :assumptions_appreciation %>
        <%= f.text_field :assumptions_appreciation, class: 'form-control', placeholder: "Enter Appreciation Projection" %>
    </div>
    <div class="col-md-6">
        <%= f.label :assumptions_vacancy %>
        <%= f.text_field :assumptions_vacancy, class: 'form-control', placeholder: "Enter Vacancy Projection" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :assumptions_income_increase %>
        <%= f.text_field :assumptions_income_increase, class: 'form-control', placeholder: "Enter Income Increase Projection" %>
    </div>
    <div class="col-md-6">
        <%= f.label :assumptions_expense_increase %>
        <%= f.text_field :assumptions_expense_increase, class: 'form-control', placeholder: "Enter Expense Increase Projection" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :assumptions_land_value %>
        <%= f.text_field :assumptions_land_value, class: 'form-control', placeholder: "Enter Land Value Projection" %>
    </div>
    <div class="col-md-6">
        <%= f.label :assumptions_selling_cost %>
        <%= f.text_field :assumptions_selling_cost, class: 'form-control', placeholder: "Enter Selling Cost Projection" %>
    </div>
  </div>
