

  <div class="row">
    <div class="col-md-6">
        <%= f.label :expenses_taxes %>
        <%= f.text_field :expenses_taxes, class: 'form-control', placeholder: "Enter Taxes Amount" %>
    </div>
    <div class="col-md-6">
      <%= f.label :expenses_insurance %>
      <%= f.text_field :expenses_insurance, class: 'form-control', placeholder: "Enter Insurance Amount" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :expenses_management %>
        <%= f.text_field :expenses_management, class: 'form-control', placeholder: "Enter Management Amount" %>
    </div>
    <div class="col-md-6">
      <%= f.label :expenses_maintanance %>
      <%= f.text_field :expenses_maintanance, class: 'form-control', placeholder: "Enter Maintance Amount" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :expenses_expenditures %>
        <%= f.text_field :expenses_expenditures, class: 'form-control', placeholder: "Enter Capital Expenditures Amount" %>
    </div>
    <div class="col-md-6">
        <%= f.label :expenses_landscaping %>
        <%= f.text_field :expenses_landscaping, class: 'form-control', placeholder: "Enter Landscaping Amount" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :expenses_misc  %>
        <%= f.text_field :expenses_misc, class: 'form-control', placeholder: "Enter Misc Landscaping Amount" %>
    </div>
    <div class="col-md-6">
        <%= f.label :expenses_total%>
    </div>
  </div>
