

  <div class="row">
    <div class="col-md-6">
        <%= f.label :purchase_price %>
        <%= f.text_field :purchase_price, class: 'form-control', placeholder: "Enter Purchase Price" %>
    </div>
    <div class="col-md-6">
        <%= f.label :after_value %>
        <%= f.text_field :after_value, class: 'form-control', placeholder: "Enter After Value Price" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <%= f.label :down_payment %>
        <%= f.text_field :down_payment, class: 'form-control', placeholder: "Enter Down Payment Amount" %>
    </div>
    <div class="col-md-4">
        <%= f.label :interest %>
        <%= f.text_field :interest, class: 'form-control', placeholder: "Enter Interest Amount" %>
    </div>
    <div class="col-md-4">
        <%= f.label :loan_term %>
        <%= f.text_field :loan_term, class: 'form-control', placeholder: "Enter Loan Term" %>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <%= f.label :pmi_upfront %>
      <%= f.text_field :pmi_upfront, class: 'form-control', placeholder: "Enter PMI Upfront Amount" %>
    </div>
    <div class="col-md-6">
      <%= f.label :pmi_recurring %>
      <%= f.text_field :pmi_recurring, class: 'form-control', placeholder: "Enter PMI Recurring Amount" %>
    </div>
  </div> -->
