
  <div class="row">
    <div class="col-md-6">
        <%= f.label :purchase_cost_inspection %>
        <%= f.text_field :purchase_cost_inspection, class: 'form-control', placeholder: "Enter Inspection Cost" %>
    </div>
    <div class="col-md-6">
        <%= f.label :purchase_cost_appraisal %>
        <%= f.text_field :purchase_cost_appraisal, class: 'form-control', placeholder: "Enter Appraisal Cost" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :closing_costs %>
        <%= f.text_field :closing_costs, class: 'form-control', placeholder: "Enter Closing Cost" %>
    </div>
  </div>
