

  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_exterior %>
        <%= f.text_field :rehab_cost_exterior, class: 'form-control', placeholder: "Enter Rehab Cost for Exterior" %>
    </div>
    <div class="col-md-6">
        <%= f.label :rehab_cost_interior %>
        <%= f.text_field :rehab_cost_interior, class: 'form-control', placeholder: "Enter Rehab Cost for Interior" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_electrical %>
        <%= f.text_field :rehab_cost_electrical, class: 'form-control', placeholder: "Enter Rehab Cost for Electrical" %>
    </div>
    <div class="col-md-6">
        <%= f.label :rehab_cost_plumbing %>
        <%= f.text_field :rehab_cost_plumbing, class: 'form-control', placeholder: "Enter Rehab Cost for Plumbing" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_appliances %>
        <%= f.text_field :rehab_cost_appliances, class: 'form-control', placeholder: "Enter Rehab Cost for Appliances" %>
    </div>
    <div class="col-md-6">
        <%= f.label :rehab_cost_landscaping %>
        <%= f.text_field :rehab_cost_landscaping, class: 'form-control', placeholder: "Enter Rehab Cost for Landscaping" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_misc %>
        <%= f.text_field :rehab_cost_misc, class: 'form-control', placeholder: "Enter Misc Rehab Cost" %>
    </div>
  </div>
