<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-6">
          <%= f.label :assumptions_appreciation %>
          <p><%= @house.assumptions_appreciation %>% or </p>
          <p class="assumptionsAppreciationTotal"></p>
      </div>
      <div class="col-md-6">
          <%= f.label :assumptions_vacancy %>
          <p><%= @house.assumptions_vacancy %>%</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :assumptions_income_increase %>
          <p><%= @house.assumptions_income_increase %>%</p>
      </div>
      <div class="col-md-6">
          <%= f.label :assumptions_expense_increase %>
          <p><%= @house.assumptions_expense_increase %>%</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :assumptions_land_value %>
          <p>$<%= @house.assumptions_land_value %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :assumptions_selling_cost %>
          <p><%= @house.assumptions_selling_cost  %>% or </p>
          <p id="assumptionsSellingCosts" class="assumptionsSellingCosts"></p>
      </div>
    </div>
  </div>
<% end %>
