<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_taxes %>
          <p>$<%= number_with_precision(@house.expenses_taxes, :precision => 2, :delimiter => ',') %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :expenses_insurance %>
          <p>$<%= number_with_precision(@house.expenses_insurance, :precision => 2, :delimiter => ',') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_management %>
          <p><%= @house.expenses_management %>% of loan or </p>
          <p id="managementAmount" class="managementAmount"></p>
      </div>
      <div class="col-md-6">
          <%= f.label :expenses_maintanance %>
          <p><%= @house.expenses_maintanance %>% of loan or </p>
          <p id="maintananceAmount" class="maintananceAmount"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_expenditures %>
          <p><%= @house.expenses_expenditures %>% of loan or </p>
          <p id="expendituresAmount" class="expendituresAmount"></p>
      </div>
      <div class="col-md-6">
          <%= f.label :expenses_landscaping %>
          <p>$<%= number_with_precision(@house.expenses_landscaping, :precision => 2, :delimiter => ',') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_misc  %>
          <p>$<%= number_with_precision(@house.expenses_misc, :precision => 2, :delimiter => ',') %></p>
      </div>
    </div>
    <p class="break"></p>
    <div class="row">
      <div class="col-md-12">
          <%= f.label :expenses_Total%>
          <p class="ExpensesTotal1"></p>
      </div>
    </div>
  </div>
<% end %>
