<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_taxes %>
          <p>$<%= @house.expenses_taxes %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :expenses_insurance %>
          <p>$<%= @house.expenses_insurance %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_management %>
          <p>$<%= @house.expenses_management %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :expenses_maintanance %>
          <p>$<%= @house.expenses_maintanance %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_expenditures %>
          <p>$<%= @house.expenses_expenditures %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :expenses_landscaping %>
          <p>$<%= @house.expenses_landscaping %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :expenses_misc  %>
          <p>$<%= @house.expenses_misc %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :expenses_Total%>
          <p>$<%= @house.expenses_total %></p> 
      </div>
    </div>
  </div>
<% end %>
