<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-4">
          <%= f.label :purchase_price %>
          <p>$ <%= @house.purchase_price %></p>
      </div>
      <div class="col-md-4" display="inline">
          <%= f.label :after_value %>
          <p>$ <%= @house.after_value %></p>
      </div>
      <div class="col-md-4">
          <%= f.label :amount_financed %>
          <p id="amountFin" class="amountFin"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <%= f.label :down_payment %>
          <p>$<%= @house.down_payment %> or </p>
          <p id="downPaymentPercent" class="downPaymentPercent"></p>
      </div>
      <div class="col-md-4">
          <%= f.label :interest %>
          <p><%= @house.interest %>%</p>
      </div>
      <div class="col-md-4">
          <%= f.label :loan_term %>
          <p><%= @house.loan_term %> years</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :pmi_upfront %>
        <p><%= @house.pmi_upfront %>% of Loan</p>
      </div>
      <div class="col-md-6">
        <%= f.label :pmi_recurring %>
        <p><%= @house.pmi_recurring %>% of Loan</p>
      </div>
    </div>
  </div>
<% end %>
