<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= f.label :name %>
        <%= @house.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= f.label :description %>
        <%= @house.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= f.label :address %>
        <%= @house.address %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <%= f.label :city %>
          <%= @house.city %>
      </div>
      <div class="col-md-4">
          <%= f.label :state %>
          <%= @house.state %>
      </div>
      <div class="col-md-4">
          <%= f.label :zip %>
          <%= @house.zip %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :number_of_Beds  %>
          <%= @house.numBeds %>
      </div>
      <div class="col-md-6">
          <%= f.label :number_of_Baths %>
      <%= @house.numBaths %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="" data-placement="top"></div>
          <%= f.label :footage %>
          <p><%= number_with_precision(@house.footage, :precision => 0, :delimiter => ',') %> sq. ft.</p>
      </div>
      <div class="col-md-6">
          <%= f.label :year %>
          <%= @house.year %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="" data-placement="top"></div>
          <%= f.label :parking %>
          <%= @house.parking %>
      </div>
      <div class="col-md-6">
          <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="" data-placement="top"></div>
          <%= f.label :lot %>
          <p><%= number_with_precision(@house.lot, :precision => 0, :delimiter => ',') %> sq. ft.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="" data-placement="top"></div>
          <%= f.label :zoning %>
          <%= @house.zoning %>
      </div>
      <div class="col-md-6">
        <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="" data-placement="top"></div>
        <%= f.label :mls %>
        <%= @house.mls %>
      </div>
    </div>
  </div>
<% end %>
