<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-6">
          <%= f.label :income_gross_rent %>
          <p>$<%= number_with_precision(@house.income_gross_rent, :precision => 2, :delimiter => ',') %> per month</p>
      </div>
      <div class="col-md-6">
          <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Other income - Examples include, parking, laundry, and storage rental.
" data-placement="top"></div>
          <%= f.label :income_other_rent %>
          <p>$<%= number_with_precision(@house.income_other_rent, :precision => 2, :delimiter => ',') %> per month</p>
      </div>
    </div>
  </div>
<% end %>
