<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-6">
          <%= f.label :purchase_cost_inspection %>
          <p>$<%= @house.purchase_cost_inspection %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :purchase_cost_appraisal %>
          <p>$<%= @house.purchase_cost_appraisal %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :closing_costs %>
          <p><%= @house.closing_costs %>%</p>
      </div>
    </div>
  </div>
<% end %>
