<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text">
    <div class="row">
      <div class="col-md-6">
          <%= f.label :rehab_cost_exterior %>
          <p>$<%= @house.rehab_cost_exterior %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :rehab_cost_interior %>
          <p>$<%= @house.rehab_cost_interior %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :rehab_cost_electrical %>
          <p>$<%= @house.rehab_cost_electrical %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :rehab_cost_plumbing %>
          <p>$<%= @house.rehab_cost_plumbing %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :rehab_cost_appliances %>
          <p>$<%= @house.rehab_cost_appliances %></p>
      </div>
      <div class="col-md-6">
          <%= f.label :rehab_cost_landscaping %>
          <p>$<%= @house.rehab_cost_landscaping %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <%= f.label :rehab_cost_misc %>
          <p>$<%= @house.rehab_cost_misc %></p>
      </div>
    </div>
  </div>
<% end %>
