<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>





  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_exterior %>
        <%= @house.rehab_cost_exterior %>
    </div>
    <div class="col-md-6">
        <%= f.label :rehab_cost_interior %>
        <%= @house.rehab_cost_interior %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_electrical %>
        <%= @house.rehab_cost_electrical %>
    </div>
    <div class="col-md-6">
        <%= f.label :rehab_cost_plumbing %>
        <%= @house.rehab_cost_plumbing %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_appliances %>
        <%= @house.rehab_cost_appliances %>
    </div>
    <div class="col-md-6">
        <%= f.label :rehab_cost_landscaping %>
        <%= @house.rehab_cost_landscaping %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= f.label :rehab_cost_misc %>
        <%= @house.rehab_cost_misc %>
    </div>
  </div>











   <!-- <div class="form-group">
     <%= f.submit "Next", class: 'btn btn-success' %>
   </div> -->
<% end %>
