<%= form_for @house do |f| %>
  <% if house.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(house.errors.count, "error") %>.</h4>
        <ul>
          <% house.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="body-text1">
    <div class="row">
      <div class="col-md-6 start">
          <p><%= f.label :purchase_price %>:</p>
      </div>
      <div class="col-md-6 end">
          <p>$ <%= @house.purchase_price %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
          <p><%= f.label :amount_financed %>:</p>
      </div>
      <div class="col-md-6 end">
          <p class="amountFin"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :down_payment %>:</p>
      </div>
      <div class="col-md-6 end">
        <p>= $<%= @house.down_payment %>.00</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :closing_Costs%>:</p>
      </div>
      <div class="col-md-6 end">
        <p class="closingCostAmount">+ $</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
          <p><%= f.label :rehab_Cost_Total %>:</p>
      </div>
      <div class="col-md-6 end">
          <p class="rehabTotal"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
          <p><%= f.label :total_Cash_Needed %>:</p>
      </div>
      <div class="col-md-6 end">
          <p id="TotalCashNeed" class="TotalCashNeed"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-center">Valuation</h1>
      </div>
      <div class="col-md-6 start">
        <p><%= f.label :valuation %>:</p>
      </div>
      <div class="col-md-6 end">
        <p class="valuation">$  per sq ft</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-center">Operations Cost</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Gross_Rent %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="YearlyRent" class="YearlyRent"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Vacancy_Per_Year %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="vacancyYear" class="vacancyYear">- $</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Operation_Income %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="operationIncomeYear" class="operationIncomeYear"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Operation_Expenses %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="ExpensesTotal1" class="ExpensesTotal1">- $</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Net_Operating_Income %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="123" class="netOperatingIncome"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Loan_Payments %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="loanPayments" class="loanPayments"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Cash_flow %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="cashFlowYear" class="cashFlowYear">= $</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-center">Returns</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Effective_Cap_Rate %>:</p>
      </div>
      <div class="col-md-6 end">
        <p class="returnCapRate">%</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Cash_On_Cash %>:</p>
      </div>
      <div class="col-md-6 end">
        <p id="cashOnCash" class="cashOnCash">%</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Return_On_Investment %>:</p>
      </div>
      <div class="col-md-6 end">
        <p class="ratiosReturnOnInvestment">%</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-center">Ratios</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Rent_To_Value %>:</p>
      </div>
      <div class="col-md-6 end">
        <p class="ratiosRentToValue">%</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :Gross_Rent_Multiplier %>:</p>
      </div>
      <div class="col-md-6 end">
        <p class="ratiosGrossRentMultiplier" id="ratiosGrossRentMultiplier"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 start">
        <p><%= f.label :debt_Coverage_Ratio %>:</p>
      </div>
      <div class="col-md-6 end">
        <p class="ratiosDebtCoverageRatio"></p>
      </div>
    </div>
  </div>
<% end %>
