<div class="row">
	<div class="col-md-12">
    <div class="col-md-10 start">
      <h1>Compare Properties</h1>
    </div>
    <div class="col-md-2 end">
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous"><%= link_to "Back", :back %></li>
        </ul>
      </nav>
    </div>
	</div>
</div>
<table class="table table-striped">
  <thead>
    <tr style="background-color:#337ab7">
      <th>Name</th>
      <th>Total Cash Needed</th>
      <th>Total Expenses</th>
			<th>Cash Flow</th>
			<th>NOI</th>
      <th>Gross Rent</th>
    </tr>
  </thead>
  <tbody>
		<% @houses.each do |house| %>
    	<tr>
				<td><%= link_to house.name, house, "data-turbolinks": "false" %></td>
				<td>$<%= number_with_precision(house.totalCashNeeded, :precision => 2, :delimiter => ',') %></td>
        <td>$<%= number_with_precision(house.totalExpenses, :precision => 2, :delimiter => ',') %></td>
				<td>$<%= number_with_precision(house.cashFlow, :precision => 2, :delimiter => ',') %></td>
        <td>$<%= number_with_precision(house.netOperatingIncome, :precision => 2, :delimiter => ',') %></td>
				<td>$<%= number_with_precision(house.rentForYear, :precision => 2, :delimiter => ',') %></td>
    	</tr>
		<% end %>
    <tr >
      <td><b>Total:</b></td>
      <td><b>$<%= number_with_precision(@houses.sum(&:totalCashNeeded), :precision => 2, :delimiter => ',') %></b></td>
      <td><b>$<%= number_with_precision(@houses.sum(&:totalExpenses), :precision => 2, :delimiter => ',') %></b></td>
      <td><b>$<%= number_with_precision(@houses.sum(&:cashFlow), :precision => 2, :delimiter => ',') %></b></td>
      <td><b>$<%= number_with_precision(@houses.sum(&:netOperatingIncome), :precision => 2, :delimiter => ',') %></b></td>
      <td><b>$<%= number_with_precision(@houses.sum(&:rentForYear), :precision => 2, :delimiter => ',') %></b></td>
    </tr>
  </tbody>
</table>
