<div class="container-fluid">
  <div class="row form-group">
    <div class="col-xl-12">
      <ul class="nav nav-pills nav-justified thumbnail setup-panel">
        <li class="active"><a href="#step-1">
          <p class="list-group-item-text">Housing Info</p>
        </a></li>
        <li class="active"><a href="#step-2">
          <p class="list-group-item-text">Financing</p>
        </a></li>
        <li class="active"><a href="#step-3">
          <p class="list-group-item-text">Purchase Costs</p>
        </a></li>
        <li class="active"><a href="#step-4">
          <p class="list-group-item-text">Rehab Costs</p>
        </a></li>
        <li class="active"><a href="#step-5">
          <p class="list-group-item-text">Monthly Income</p>
        </a></li>
        <li class="active"><a href="#step-6">
          <p class="list-group-item-text">Monthly Expenses</p>
        </a></li>
        <li class="active"><a href="#step-7">
          <p class="list-group-item-text">Annual Assumptions</p>
        </a></li>
      </ul>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xl-12">
      <ul class="nav nav-pills nav-justified thumbnail setup-panel">
        <li class="active"><a href="#projections">
          <p class="list-group-item-text">Projections</p>
        </a></li>
        <li class="active"><a href="#payment_schedule">
          <p class="list-group-item-text">Loan Payment Schedule</p>
        </a></li>
        <li class="active"><a href="#projections_income">
          <p class="list-group-item-text">Projections Income</p>
        </a></li>
        <li class="active"><a href="#projections_expense">
          <p class="list-group-item-text">Projections Expense</p>
        </a></li>
        <li class="active"><a href="#summary">
          <p class="list-group-item-text">Summary</p>
        </a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-4 text-center pull-left">
        <h1><%= @house.name %></h1>
    </div>
    <div class="col-md-2 pull-right">
      <%= link_to "Edit", edit_house_path(@house), "data-turbolinks": "false", class: "btn btn-default btn-lg", :"data-no-turbolink" => true  %>
      <%= link_to "Delete", @house, method: :delete, class: "btn btn-danger btn-lg", data: {confirm: "Are you sure you want to delete this house?"} %>
    </div>
  </div>
  <div class="row setup-content" id="step-1">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="list-group-item-heading">Housing Info</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'shousinginfo', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-2">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Financing</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'sfinancing', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-3">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="All costs and fees associated with purchasing a property, sometimes also called closing costs. Example include: appraisal fees, property inspection, finder's fee, and loan points." data-placement="top" style="margin-right: 20px;"></div>
        <h1 style="display: inline-block" class="text-center">Purchase Costs</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'spurchasecosts', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-4">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <div class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Expenses that you expect to incur after purchasing a property to improve its condition. Examples include: new paint, new appliances, new carpet, electrical repairs, landscaping, and cleaning." data-placement="top" style="margin-right: 20px;"></div>
        <h1 style="display: inline-block" class="text-center">Rehab Costs</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'srehabcosts', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-5">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Income</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'sincome', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-7">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="list-group-item-heading">Assumptions</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'sassumptions', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-6">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Expenses</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'sexpenses', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="summary">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Purchase and Rehab</h1>
        <div class="row">
          <div class="col-md-8 center-block">
            <%= render partial: 'summary', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="projections_income">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Projections Income</h1>
        <div class="row">
          <div class="col-md-12 center-block">
            <%= render partial: 'projections_income', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="projections_expense">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Projections Expense</h1>
        <div class="row">
          <div class="col-md-12 center-block">
            <%= render partial: 'projections_expense', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="projections">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Projections</h1>
        <div class="row">
          <div class="col-md-12 center-block">
            <%= render partial: 'projections', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="payment_schedule">
    <div class="col-xs-12">
      <div class="col-md-12 well text-center">
        <h1 class="text-center">Loan Payment Schedule</h1>
        <br>
        <div class="row">
          <div class="col-md-12 center-block">
            <%= render partial: 'amort', locals: { house: @house } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
